body{padding: 10em;
border: thick;
border-width: thick;
border-style: dashed;}

h1,h2{text-align: center;
color: red;
font-size: 100;
font-family: sans-serif;}

p{width:750px;
font-family: fantasy;
font-size: 50;}
/*The next rule centers and spaces the media*/
img, video, audio, canvas, p{
    display: block; 
    margin: 0 auto;
    padding-bottom: 2em}
.credits{font-size: 0.5em;
    color: rgb(200,200,200);}